* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  background: #e9f4ff;
  color: #333;
}

.form-group,
.form-group label,
.form-group input {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 0.8rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid #333;
  /* background-color: #e8e8e8; */
  background: none;
  outline-width: 0;
  font-size: 1rem;
  /* border-radius: 0.5rem; */
}

.form-group input:focus {
  border-bottom: 2px solid #185187;
}
/* EC7F00 */
.btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #003262;
  color: #fff;
}
.not-allowed {
  cursor: not-allowed;
}
.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: rgb(196, 42, 42);
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}
.over-flow {
  height: 40rem;
  width: 50rem;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.border-shadow {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
