.forgotpassword-screen {
  width: 100%;
  height: 100vh;
  background: url("../../Assets/background-img.jpeg");
  background-size: cover;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-screen__form {
  width: 40%;
  height: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #b3cde3;
  /* opacity: 0.8; */
  background: rgba(115, 176, 234, 0.6);
}

.forgotpassword-screen__form {
  width: 380px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
}

.forgotpassword-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}

.forgotpassword-screen__subtext {
  font-size: 0.9rem;
  text-align: center;
  display: block;
  margin: 0.5rem 0;
}
