.register-screen {
  width: 100%;
  height: 100vh;
  background: url("../../Assets/background-img.jpeg");
  background-size: cover;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-register {
  width: 45%;
  margin: 0 1rem;
  padding: 2rem;
  /* border-radius: 2rem; */
  background: rgba(255, 255, 255, 0.8);
}
.logo-reg {
  width: 55%;
  height: 100%;
  padding: 2rem;
  /* background-color: #fffffff3; */
  margin: 0.5rem;
  border-radius: 2rem;
}
.logo-reg img {
  width: 12rem;
}

.register-screen__form {
  width: 60%;
  height: 90%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #b3cde3;
  /* opacity: 0.8; */
  background: rgba(115, 176, 234, 0.6);
}

.register-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}

.register-screen__subtext {
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}
